--extra-index-url https://gitlab.tmloc.com/api/v4/groups/7/-/packages/pypi/simple
aiohttp
aiomysql
alembic
attrs
bjoern
celery[redis,gevent]<6
connexion[swagger-ui]
coverage
cryptography
databases
dateutils
editdistance
fastavro
flask
flask-opentracing
geoip2
gunicorn
IP2Location
ipy
jaeger-client
jinja2
jsonschema
msgpack
numpy
opentracing-instrumentation
prance
prometheus-client
pycryptodome
pydantic
pymysql
python-dateutil
python-editor
python-redis-lock~=3.7.0
python-snappy
pyyaml
redis
redis-py-cluster~=2.1.3 # overriden exception handling in tm.redis, check if updated!
requests
scipy
schwifty
six
sphinxcontrib-napoleon
sqlalchemy
swagger-spec-validator
tm-database
tm-dataquery
tm-observe
tm-pythonlib[wide,async_redis,sync_redis]
tm-stream
typing
ua-parser
ujson
user-agents
werkzeug
xxhash
yappi
zope.interface
zope.sqlalchemy
