-c requirements.txt
astroid
autoflake
coverage[toml]
datamodel-code-generator
mock
pact-python
pylint
pytest==6.0.2
pytest-alembic
pytest-cov
pytest-asyncio
pytest-flask
pytest-mock
pytest-freezegun
requests-mock
yapf
